{% extends 'common/base_katapp.html' %}

{% load static %}

{% block content %}
<div class="container-fluid px-0">
    <div class="position-relative">
        <img src="{% static 'conocenos.jpg' %}" class="img-fluid w-100">
        <h1 class="text-white position-absolute bottom-0 start-0 p-5 bg-dark m-0 w-100 text-center" style="--bs-bg-opacity: .5;">Nuestra Historia - Conócenos</h1>
    </div>
</div>

<div class="container-fluid pb-5 px-5" style="background-color: #FFC4FC;">
    <div class="row mt-5 px-5">
        <div class="col-md-5 mb-3 mb-md-0">
            <img src="{% static 'presentación.jpg' %}" class="img-fluid rounded">
        </div>
        <div class="col-md-7 order-md-2 text-bg-dark rounded p-5 pb-0">
            <h2 class="mb-3 h5">¡Hola, somos Keanu y Trinity!</h2>
            <p>Trinity y yo somos hermanas. Nuestra historia comenzó cuando nuestra mamá nos encontró con 3 meses, se enamoró de nosotras, nos adoptó y nos llevó a nuestro primer hogar temporal, donde vivimos con otros dos gatitos, hasta que nos fuimos a nuestra casa definitiva.</p>
            <br>
            <p>Desde entonces estuvimos viviendo felices en el campo, juntas. Pero recapitulemos.</p>
            <br>
            <p>¡Hola a todos! Soy Keanu, una de esas dos gatitas tan preciosas de la foto (Yo soy la tigresa de la colita corta), mi historia con Trinity empezó antes de la adopción, nos criamos juntas hasta cumplir un mes y medio de vida, en el patio de una casa abandonada. Allí nos encontraron las señoras amables del refugio.</p>
            <br>
            <p>En el refugio nos cuidaron hasta que cumplimos tres meses y mamá vino a por nosotras. En aquel momento estábamos separadas. A mí me pusieron en una jaula, mientras que a Trinity la llevaron a una casa de acogida.</p>
            <br>
            <p>Aunque estuvimos separadas, nunca perdimos la esperanza de volver a estar juntas. Y finalmente, nuestra mamá humana nos adoptó a las dos y nos llevó a nuestro hogar definitivo en el campo, donde hemos podido vivir felices explorando la naturaleza y disfrutando de la vida al aire libre juntas.</p>
            <br>
            <p>Somos dos gatitas muy distintas, aunque somos inseparables. Siempre hemos jugado juntas, dormido muy muy pegaditas (Aunque a veces nos hemos peleado y he mandado a Trinity a dormir en el lavabo del baño mientras yo disfrutaba la cama) y nos hemos cuidado mutuamente. El haber estado encerrada en aquella jaula me puso muy triste, pero eso, y la separación de mi hermana, no han acabado con nuestro espíritu juguetón.</p>
            <br>
            <p>Aunque nuestra historia comenzó de forma un poco triste, estoy muy contenta de haber encontrado a mi hermana Trinity y de haber crecido a su lado. ¡Hemos sido muy felices juntas y nos queremos muchísimo!</p>

        </div>
    </div>
    <div class="row mt-5 px-5">
        <div class="col-md-5 order-2 order-md-0 text-bg-dark rounded p-5">
            <h2 class="mb-3 h5">Las peludas diabólicas</h2>
            <p>Recuerdo que nuestra mamá nos apodó "Las Peludas Diabólicas" el último fin de semana de Octubre (Vimos muchas pelis de miedo aquel día), yo estaba muy contenta porque Trinity había vuelto del hospital. Crecimos juntas hasta que cumplimos nuestro primer añito de vida, Trinity los cumplió el día 1 de febrero, y yo, el 15.</p>
            <br>
            <p>Y todo se torció.</p>
        </div>
        <div class="col-md-7 mb-3 mb-md-0">
            <img src="{% static 'peludas diabolicas.jpg' %}" class="img-fluid rounded">
        </div>
    </div>
    <div class="row mt-5 px-5">
        <div class="col-md-5 mb-3 mb-md-0">
            <img src="{% static 'Trinity no está.jpg' %}" class="img-fluid rounded">
        </div>
        <div class="col-md-7 order-md-2 text-bg-dark rounded p-5 pb-0">
            <h2 class="mb-3 h5">Trinity no está</h2>
            <p>La mañana del 16 de febrero nuestra mamá vino a darnos los buenos días y a medicar a Trinity (Tengo una hermana mayor epiléptica), pero Trinity no estaba, mamá entró preocupada por mí al ver la puerta abierta (Yo solía escaparme mucho cuando era pequeñita), y me encontró con mi amiga Alicia que había entrado a dormir conmigo.</p>
            <br>
            <p>Mi mami buscó a Trinity por todas partes, yo no paraba de maullar porque estaba un poco nerviosa por ver a mi mamá así, pero Trinity no venía. Mamá no paraba de llamar por teléfono y decir que era muy raro, que Trinity nunca se escapaba, que la más traviesa de las dos era yo.</p>
        </div>
    </div>
    <div class="row mt-5 px-5">
        <div class="col-md-6 order-2 order-md-0 text-bg-dark rounded p-5 pb-0">
            <h2 class="mb-3 h5">Nuestra vida actual</h2>
            <p>Tras irse mi hermana yo casi no veía a mi mamá, la oía a lo lejos, llamando a Trinity por todos sus apodos. Yo maullaba y maullaba porque quería ayudar, pero mamá no me dejaba salir a buscarla. A veces me ponía unos hilos con correa alrededor del cuerpo, que yo mordía para quitarme, entonces mamá decía que sin arnés no saldría a buscar a Trinity con ella.</p>
            <br>
            <p>Lo único bueno de todo aquello es que todos los días tenía un premio, mamá salía de casa abriendo una latita, y volvía y me la ponía. Aún no entiendo por qué salía a pasear con una latita abierta, pero me ponía muy contenta cuando ella volvía.</p>
        </div>
        <div class="col-md-6 mb-3 mb-md-0">
            <img src="{% static 'proyecto KAT.jpg' %}" class="img-fluid rounded">
        </div>
    </div>
    <div class="row mt-5 px-5 pb-5">
        <div class="col-md-6 mb-3 mb-md-0">
            <img src="{% static 'vida actual.jpg' %}" class="img-fluid rounded">
        </div>
        <div class="col-md-6 order-md-2 text-bg-dark rounded px-5 pt-4">
            <h2 class="mb-3 h5">El proyecto Keanu And Trinity</h2>
            <p>Este proyecto nació cuando mi mamá decidió que nadie iba a volver a pasar por todo lo que ella pasó por mi hermana Trinity. Y todos los días la veo con su ordenador, tecleando muy rápido, después me mira y me dice que todo lo que está haciendo es por Tuchi, y por mí, porque no quiere que me pase nada (Por eso ya no me escapo de casa, no quiero preocupar a mi mamá).</p>
            <br>
            <p>Ella me sigue preguntando por mi hermana, porque cambié todas mis costumbres cuando ella se fue. Yo ahora salgo con sus amigos en lugar de irme a la fábrica abandonada al lado de casa, y siempre voy por donde le gustaba ir a mi hermana. Pero lo que pasó esa noche queda entre Trinity y yo (No soy ninguna chivata).</p>
            <br>
            <p>A día de hoy mi mami y yo estamos súper unidas, y con sólo oir que me llama, voy corriendo. Ahora sólo me tiene a mí, y nos cuidamos mutuamente.</p>
        </div>
    </div>
</div>
{% endblock %}