<header class="navbar navbar-dark sticky-top flex-md-nowrap p-0 shadow">
  {% if user.is_authenticated %}

  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  {% endif %}
  <a class="navbar-brand col-md-3 col-lg-2 px-3 ml-5" href="{% url 'panel' %}">KAT: Encuentra a tu mascota</a>

  <div class="navbar-nav">
    <div class="nav-item text-nowrap d-flex">
      {% if user.is_authenticated %}
      <a class="nav-link" style="color: white;">{{ user.get_username }}</a>&nbsp;&nbsp
      <a class="nav-link" href="/accounts/logout">Cerrar sesión</a>
      {% else %}
      <a class="nav-link" href="/accounts/login">Iniciar sesión</a>
      {% endif %}
    </div>
  </div>
</header>
