{% extends 'common/base_katapp.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-3">
            <h2>Filtros</h2>
            <hr>
            <div class="form-check">
                {% crispy filter.form %}
            </div>
        </div>
        <div class="col-md-9 pb-5">
            <h1>Listado de mascotas perdidas</h1>
            <div class="row">
                {% for mascota in filter.qs %} <!-- Utiliza la clave 'filter_form' -->
                    <div class="col-md-4 mb-3">
                        {% if user.is_authenticated and mascota.datos_contacto == user %}
                        <a href="{% url 'm_perdida_update' pk=mascota.id %}">
                        {% else %}
                        <a href="{% url 'm_perdidadetail' id=mascota.id %}">
                        {% endif %}
                            <div class="card lostfind">
                                {% if mascota.foto %}
                                    <img src="{{ mascota.foto.url }}" class="card-img-top" alt="{{ mascota.nombre }}">
                                {% endif %}
                                <div class="card-body lostfind">
                                    <h2 class="card-title h5">{{ mascota.nombre }}</h5>
                                    {% if mascota.descripcion|length > 70 %}
                                    <p class="card-text">{{ mascota.descripcion|safe|slice:":70" }}...</p>
                                    {% else %}
                                    <p class="card-text">{{ mascota.descripcion|safe|slice:":70" }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </div>
                    {% empty %}
                        <p>No se han encontrado mascotas</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}