{% extends 'common/base_katapp.html' %}

{% load provincias_aviso_dropdown %}

{% block content %}
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-3">
            <h2>Filtros</h2>
            <hr>
            {% provincia_aviso_dropdown %}
            <form method="GET">
                <hr>
                <h4>Tipo de aviso</h4>
                <div class="form-group">
                    <label for="ubicacion">Introduce el tipo de aviso (Avispas/Alimento/Peligros):</label>
                    <input id="id_filtros" type="text" name="tipo_aviso" placeholder="Tipo de aviso">
                </div>
                <hr>
                <h4>Ubicación</h4>
                <div class="form-group">
                    <label for="ubicacion">Introduce una ubicación:</label>
                    <input id="id_filtros" type="text" name="ubicacion" placeholder="Ubicación">
                </div>
                <br>
                <button class="btn" type="submit">Filtrar</button>
                <a class="btn" href="{% url 'aviso' %}">Borrar filtros</a>
            </form>

        </div>
        <div class="col-md-9">
            <div class="row">
                {% if avisos %}
                    {% for aviso in avisos %}
                        <div class="col-md-4 mb-3">
                            {% if user.is_authenticated and aviso.contacto == user %}
                            <a href="{% url 'aviso_update' pk=aviso.id %}">
                            {% else %}
                            <a href="{% url 'avisodetail' id=aviso.id %}">
                                {% endif %}
                                <div class="card lostfind">
                                    {% if aviso.imagen %}
                                        <img src="{{ aviso.imagen.url }}" class="card-img-top" alt="{{ aviso.razon }}">
                                    {% endif %}
                                    <div class="card-body lostfind">
                                        <h5 class="card-title">{{ aviso.razon }}</h5>
                                        {% if aviso.descripcion|length > 70 %}
                                        <p class="card-text">{{ aviso.descripcion|safe|slice:":70" }}...</p>
                                        {% else %}
                                        <p class="card-text">{{ aviso.descripcion|safe|slice:":70" }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No se han encontrado avisos</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}