{% extends 'common/base_katapp.html' %}

{% load especies_mencontrada_dropdown %}
{% load colores_mencontrada_dropdown %}
{% load razas_mencontrada_dropdown %}

{% block content %}
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-3">
            <h2>Filtros</h2>
            <hr>
                {% especie_mencontrada_dropdown %}
                {% color_mencontrada_dropdown %}
                {% raza_mencontrada_dropdown %}
            <form method="GET">

                <hr>
                <h4>Ubicación</h4>
                <div class="form-group">
                    <label for="ubicacion">Introduce una ubicación:</label>
                    <input id="id_filtros" type="text" name="lugar_encontrado" placeholder="Ubicación">
                </div>
                <hr>
                <h4>Tamaño</h4>
                <div class="form-group">
                    <label for="ubicacion">Introduce el tamaño (En cm):</label>
                    <input id="id_filtros" type="text" name="tamano" placeholder="Tamaño">
                </div>
                <hr>
                <h4>Pelo</h4>
                <div class="form-group">
                    <label for="ubicacion">Introduce el tipo de pelo (corto/medio/largo):</label>
                    <input id="id_filtros" type="text" name="pelo" placeholder="Pelo">
                </div>
                <br>

                <button class="btn" type="submit">Filtrar</button>
                <a class="btn" href="{% url 'm_encontrada' %}">Borrar filtros</a>
            </form>
        </div>
        <div class="col-md-9">
            <h1>Listado de mascotas encontradas</h1>
            <div class="row">
                {% if mascotas_find %}
                    {% for mascota in mascotas_find %}
                        <div class="col-md-4 mb-3">
                            {% if user.is_authenticated and mascota.datos_contacto == user %}
                            <a href="{% url 'm_encontrada_update' pk=mascota.id %}">
                            {% else %}
                            <a href="{% url 'm_encontradadetail' id=mascota.id %}">
                                {% endif %}
                                <div class="card lostfind">
                                    {% if mascota.foto %}
                                        <img src="{{ mascota.foto.url }}" class="card-img-top" alt="{{ mascota.nombre }}">
                                    {% endif %}
                                    <div class="card-body lostfind">
                                        <h2 class="card-title h5">{{ mascota.nombre }}</h5>
                                            {% if mascota.descripcion|length > 70 %}
                                                <p class="card-text">{{ mascota.descripcion|safe|slice:":70" }}...</p>
                                            {% else %}
                                                <p class="card-text">{{ mascota.descripcion|safe|slice:":70" }}</p>
                                            {% endif %}
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No se han encontrado mascotas</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}